.component {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 4px;
  margin-bottom: 24px;
  width: 100%;
  background-color: #fff;

  h3 {
    color: var(--Dialog-title, #0760fb);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  input,
  textarea {
    all: unset;
    border: none;
    border-bottom: 1px solid var(--Input-normal, #979797);
    color: var(--Input-normal, #979797);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 4px;
    box-sizing: border-box;
  }

  input::placeholder {
    white-space: pre-wrap;
    color: var(--Input-normal, #979797);
  }

  textarea {
    height: auto;
  }
}

.selectContainer {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  select {
    border: 1px solid var(--Select-border, #d9d9d9);
    border-radius: var(--space-1-half, 6px);
    padding: var(--space-1-half, 6px) var(--space-1-half, 6px)
      var(--space-1-half, 6px) 8px;

    background: var(--Select-background, #fff);
    color: var(--primary);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
}

textarea[placeholder='치맥 파티!'] {
  height: 30px;
}
.timeInputContainer {
  display: flex;
  flex-flow: row;
  gap: 3px;

  input {
    width: 47px;
    border-bottom: 1px solid var(--Time-normal, #979797);
    opacity: var(--sds-size-stroke-border);
  }
}

.isDarkMode {
  background: var(--Dialog-background, #00050e);

  .selectContainer {
    select {
      background: var(--Dialog-background, #00050e);
      border: 1px solid var(--Select-border, #717171);
    }
  }
}
