.component {
  display: flex;
  justify-content: center;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--space-3, 12px);
    opacity: var(--sds-size-stroke-border);
    background: var(--primary, #0760fb);
    color: var(--lightblue, #e2ebfa);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-color: transparent;
    width: auto;
    min-width: 126px;
    box-sizing: border-box;
    padding: var(--space-4-half, 18px) var(--space-5, 20px);
  }

  .hidden {
    display: none;
  }
}
