@import './reset.css';
@import './valiables.css';
@import 'src/styles/_Button.css';
@import 'src/styles/_Profile.css';
@import 'src/styles/_ProfileList.css';

body {
  background-color: var(--bg-color, #191919);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
