@import './reset.css';
@import './valiables.css';
@import '@/styles/_Button.css';
@import '@/styles/_Profile.css';
@import '@/styles/_ProfileList.css';

body {
  background-color: var(--bg-color, #191919);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  display: flex;
  justify-content: center;
  color: #fff;

  text-align: center;
  /* Heading/XXXL */
  font-family: Pretendard;
  font-size: 50.517px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 70.724px */
}
