@import './reset.css';
@import './valiables.css';
@import './_Button.css';
@import './_Profile.css';
@import './_ProfileList.css';

body {
  background-color: var(--bg-color, #191919);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
